<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="cadastro" >
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Título">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Link Foto">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" placeholder="Data de Lançamento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Descrição"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nota IMDb"></input>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Link IMDb"></input>
        </mat-form-field>
        <dio-input-select titulo="Gênero *" [opcoes]="generos" controlName="genero" [formGroup]="cadastro"></dio-input-select>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
